.heading{
    font-size:24px; /*fz*/
    color: #f00;/*c*/
    font-weight: normal; /*fw*/
    font-style: italic; /*fs*/
    border: 1px solid bisque;/*b*/
    background-color: #589;/*bgc*/
    text-align: left;/*ta*/
    text-align: center;/*tac*/
    text-align: right;/*tar*/
    float: left;/*fl*/
    float: right;/*flr*/
    width: 100px;/*w100*/
    width: 100%;/*w100%*/
}